@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Raleway", sans-serif;
}

.texto-blanco {
    color: #fff !important;
}

header {
    background: url(../img/fondo.svg), url(../img/bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

main {
    background: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav a:hover {
    color: #dc3545 !important;
}

main {
    color: #212529;
}

#first-section {
    height: 50vh;
}

.color-border {
    box-shadow: 10px 10px;
}

.ajustar {
    width: 160px !important;
}

.text-size-1 {
    font-size: 12px;
    margin-bottom: 5px;
}